services:
  generate-certs:
    image: smallstep/step-ca:latest
    container_name: generate-certs
    volumes:
      - ${CONTEXT_PATH}/certs/:/tmp/step-ca
      - ${CONTEXT_PATH}/generate-certs.sh:/tmp/generate-certs.sh
    user: ${USER_GROUP}
    working_dir: /tmp/step-ca
    entrypoint: ["/bin/sh", "/tmp/generate-certs.sh"]
    restart: "no"
  tunnel:
    build:
      dockerfile: Dockerfile.tunnel
    container_name: tunnel
    command: ["/bin/sh", "/tunnel.sh"]
    ports:
      - "4300:4300"
      - "4301:4301"
    environment:
      - TCP_TUNNELS=${TCP_TUNNELS}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4300/urls"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s
  mailserver:
    image: ghcr.io/docker-mailserver/docker-mailserver:latest
    stop_grace_period: 5s
    container_name: mailserver
    hostname: mail.example.test
    env_file: ${CONTEXT_PATH}/mailserver.env
    ports:
      - "587:587" # ESMTP (explicit TLS => STARTTLS)
      - "993:993" # IMAP4 (implicit TLS)
    volumes:
      - ${CONTEXT_PATH}/dms/mail-data/:/var/mail/
      - ${CONTEXT_PATH}/dms/mail-state/:/var/mail-state/
      - ${CONTEXT_PATH}/dms/mail-logs/:/var/log/mail/
      - ${CONTEXT_PATH}/dms/config/:/tmp/docker-mailserver/
      - /etc/localtime:/etc/localtime:ro
      - ${CONTEXT_PATH}/postfix-accounts.cf:/tmp/docker-mailserver/postfix-accounts.cf
      - ${CONTEXT_PATH}/certs/:/tmp/docker-mailserver/ssl/
    restart: always
    healthcheck:
      test: "ss --listening --ipv4 --tcp | grep --silent ':smtp' || exit 1"
      timeout: 3s
      retries: 0
  testbench:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: testbench
    environment:
      - MULTITENANCY=${MULTITENANCY}
      - INSTANCE=${INSTANCE}
      - SITE_NAME=${SITE_NAME}
      - INSTANCE_USERNAME=admin
      - INSTANCE_PASSWORD=${INSTANCE_PASSWORD}
      - TCP_TUNNELS=${TCP_TUNNELS}
      - TUNNEL_SERVICE_URL=${TUNNEL_SERVICE_URL}
    volumes:
      - ./sites.json:/app/sites.json
      - ./playwright-report:/app/playwright-report
      - ./test-results:/app/test-results
      # for making changes to code without rebuilding the container
      - ./src:/app/src
    depends_on:
      mailserver:
        condition: service_healthy
      tunnel:
        condition: service_healthy
    restart: unless-stopped
